@charset "UTF-8";
/*Переменные*/
/*Миксины*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  position: absolute;
  top: -100%;
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.conteiner {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}

.header_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  padding: 18px 0;
}

.header_left,
.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_icon {
  margin-right: 40px;
  height: 44px;
}

.search_button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}

.search_button:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_menu_button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 32px;
}

.main_menu_button:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_right_link {
  margin-left: 32px;
  color: white;
  font-size: 30px;
  line-height: 37px;
}

.header_right_link:hover {
  color: #f16d7f;
}

.promo {
  background: #f1e4e6;
}

.promo_conteiner {
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  background-size: inherit;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_heading {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-right: 100px;
}

.text_main_heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}

.fashion {
  color: #f16d7f;
}

.categories {
  padding-top: 65px;
  padding-bottom: 95px;
}

.categories_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.categories_item {
  width: 360px;
  height: 260px;
  /* margin-bottom: 30px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background_for_women {
  background: url(../img/for_women.jpg) rgba(33, 22, 22, 0.7);
}

.background_for_men {
  background: url(../img/for_men.jpg) rgba(33, 22, 22, 0.7);
}

.background_for_kids {
  background: url(../img/for_kids.jpg) rgba(33, 22, 22, 0.7);
}

.accesories {
  background: url(../img/accesories.jpg) rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 180px;
}

.categories_text {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}

.categories_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f16d7f;
  text-transform: uppercase;
}

.products {
  text-align: center;
}

.products_heading {
  padding-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-transform: capitalize;
}

.products_text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 47px;
}

.products_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
  margin-bottom: 50px;
}

.product_item {
  width: 360px;
  background: #f8f8f8;
  /*margin-bottom: 32px;*/
}

.product_img {
  width: 360px;
  height: 420px;
}

.product_text_box {
  padding: 24px 16px 16px 16px;
  text-align: left;
}

.product_heading {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 16px;
}

.product_description_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #5d5d5d;
}

.product_price_text {
  padding-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.button_browse_items {
  /*margin-top: 48px;*/
  display: inline-block;
  border: 1px solid #f16d7f;
  padding: 15px 38px;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  text-transform: capitalize;
  margin-bottom: 95px;
}

.button_browse_items:hover {
  background: #f16d7f;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.featuries {
  background-color: #222224;
}

.featuries_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 104px 0;
}

.featuries_items {
  width: 360px;
  text-align: center;
}

.delivery {
  background: url(../img/delivery_icon.png) no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.sales {
  background: url(../img/sales_icon.png) no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.quality {
  background: url(../img/quality_icon.png) no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.featuries_items_heading {
  text-transform: capitalize;
  padding-bottom: 16px;
  padding-top: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.featuries_text {
  color: #fbfbfb;
  opacity: 0.7;
}

.feedbacks {
  background-color: lightgray;
  background-image: url(../img/feedback_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.feedbacks_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 96px;
  padding-bottom: 156px;
}

.feedbacks_item {
  width: 360px;
  text-align: center;
  color: #222224;
}

.feedbacks_item_text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  display: block;
  font-style: italic;
}

.subscribe_heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 32px;
}

.subscribe_text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form_subcribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_email {
  padding: 16px 22px 16px 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  border: none;
  border-bottom-left-radius: 23px;
  border-top-left-radius: 23px;
  background: #e1e1e1;
  /*width: 100%;*/
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input_email::-webkit-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

.input_email:-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

.input_email::-ms-input-placeholder {
  color: #222224;
  opacity: 0.67;
}

.input_email::placeholder {
  color: #222224;
  opacity: 0.67;
}

.email_submit {
  padding: 0 20px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: none;
  background: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.footer {
  background-color: #222224;
}

.footer_conteiner {
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  color: #fbfbfb;
  line-height: 19px;
  padding-right: 6px;
  text-transform: capitalize;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.socials_link {
  color: black;
  font-size: 20px;
  text-align: center;
  background: white;
  height: 32px;
  width: 32px;
  margin-left: 7px;
  /*padding-top: 8px;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials_link:hover {
  color: white;
  background: #f16d7f;
}

.title {
  background-color: #f8f3f4;
}

.title_conteiner {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #f16d7f;
}

.title_nav_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title_nav_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.title_nav_item::before {
  content: "/";
  margin: 0 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.title_nav_item:first-child::before {
  display: none;
}

.current_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.current_link::before {
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.title_nav_link[href]:hover {
  text-decoration: underline;
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.filter_conteiner {
  margin-top: 50px;
  margin-bottom: 64px;
}

.filter {
  display: inline-block;
  width: 360px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-left: 16px;
}

.filter_icon {
  padding-left: 10px;
  font-size: 17px;
  vertical-align: -0.125em;
}

.fitler_caregory {
  display: inline-block;
  margin-left: 30px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.chevron {
  margin-right: 28px;
  margin-left: 10px;
}

.pagination {
  display: inline-block;
  margin: 0 auto;
  padding: 16px 0;
  border-radius: 2px;
  border: 1px solid #ebebeb;
  margin-bottom: 97px;
}

.pagination_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  padding: 0 15px;
}

.pagination_item {
  font-weight: 300;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination_item:nth-child(7) {
  margin-right: -7px;
}

.pagination_item:nth-child(9) {
  margin-left: -7px;
}

.active_page {
  color: #f16d7f;
  font-weight: bold;
}

.pagination_chevron {
  background-color: transparent;
  border: none;
  color: black;
}

.page_number:hover {
  color: #f16d7f;
  -webkit-transition: 00.3s;
  transition: 00.3s;
  font-weight: bold;
}

.number_dots {
  margin: 0 -20px;
}

.rigistration_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 66px;
}

.registration_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.label_name_reg_box {
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.reg_box {
  padding: 16px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #a4a4a4;
}

.reg_box::-webkit-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.reg_box:-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.reg_box::-ms-input-placeholder {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.reg_box::placeholder {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.gender_box {
  padding: 10px 0 33px 0;
}

.label_reg_gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-right: 20px;
  text-transform: capitalize;
}

.gender_radio {
  margin-right: 10px;
  vertical-align: baseline;
}

.password_description {
  margin-top: -5px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-bottom: 39px;
}

.registration_submit {
  width: 170px;
  padding: 20px 30px;
  border: none;
  background-color: #f16d7f;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 96px;
}

.registration_submit:hover {
  background-color: #e06d7f;
}

.arrow_right {
  margin-left: 20px;
}

.loyalty {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  max-width: 652px;
}

.loyalti_heading {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.loyalty_description {
  margin-bottom: 21px;
}

.loyalty_list {
  list-style-type: none;
}

.loyalty_item {
  margin-bottom: 16px;
}

.check_icon {
  margin-right: 23px;
  font-size: 30px;
}

.slider {
  width: 100%;
  height: 777px;
  background-color: #f7f7f7;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_btn {
  background-color: transparent;
  border: none;
  padding: 8px;
  background-color: #2a2a2a26;
  font-size: 22px;
}

.slider_btn:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider_btn:active {
  color: black;
  background-color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_info {
  text-align: center;
  background-color: white;
  margin-top: -50px;
  border: 1px solid #eaeaea;
}

.info_heading {
  color: #f16d7f;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 64px 0 12px 0;
  text-transform: uppercase;
}

.bottom_border {
  margin: 0 auto;
  width: 63px;
  border-bottom: 3px solid #f16d7f;
}

.main_product_heading {
  padding: 12px 0 48px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4d4d4d;
}

.product_info_text {
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto;
  color: #5e5e5e;
}

.price_text {
  padding-top: 32px;
  padding-bottom: 64px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.product_info_filter {
  display: block;
  max-width: 642px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 48px;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.add_to_cart_btn {
  display: inline-block;
  border: 1px solid #f16d7f;
  padding: 8px 54px 8px 23px;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-bottom: 65px;
}

.add_to_cart_icon {
  font-size: 24px;
  padding-right: 23px;
  vertical-align: top;
}

.add_to_cart_btn:hover {
  background: #f16d7f;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.more_products {
  margin: 126px 0;
}

.cart_conteiner {
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

.cart_products {
  max-width: 652px;
}

.cart_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.close_icon {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 22px;
  top: 22px;
  font-size: 34px;
  line-height: 30px;
}

.close_icon:hover {
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_item_img {
  height: 306px;
}

.cart_item_content {
  padding: 22px 150px 22px 31px;
}

.cart_item_heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

.item_properties_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.properties {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.properties_price {
  color: #f16d7f;
}

.properties_quantity {
  border: 1px solid #eaeaea;
  margin-left: 24px;
  padding: 0 15px;
  vertical-align: baseline;
  color: #656565;
}

.properties_color,
.properties_size {
  color: #656565;
}

.cart_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

.cart_action_btn {
  background-color: transparent;
  border: none;
  border: 1px solid #a4a4a4;
  padding: 17px 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.cart_action_btn:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cart_action_btn:active {
  color: white;
  background-color: #f16d7f;
}

.purchase_box {
  width: 360px;
  padding-top: 12px;
}

.shipping_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 58px;
}

.shipping_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.shipping_input {
  border: 1px solid #a4a4a4;
  padding: 13px;
  margin-bottom: 20px;
}

.shipping_input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.shipping_input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.shipping_input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.shipping_input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.shipping_submit {
  background-color: transparent;
  border: none;
  width: 101px;
  padding: 13px 0px;
  border: 1px solid #a4a4a4;
}

.shipping_submit:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.shipping_submit:active {
  color: white;
  background-color: #f16d7f;
}

.checkout {
  background-color: #f5f3f3;
  padding: 42px;
  text-align: right;
}

.sub_total {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.sub_coast {
  margin-left: 25px;
}

.grand_total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 24px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 25px;
}

.grand_coast {
  margin-left: 25px;
  color: #f16d7f;
  font-weight: bold;
}

.checkout_btn {
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  background-color: #f16d7f;
  padding: 16px 0;
  text-transform: uppercase;
}

.checkout_btn:hover {
  background-color: #e06d7f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=style.css.map */