$conteiner: 1140px;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.top {
	flex-grow: 1;
}
.conteiner {
	width: $conteiner;
	margin: 0 auto;
}
.header {
	background-color: #222222;
	color: white;
	padding: 18px 0;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
}
.header_logo,
.header_cart {
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 40px;
}
.menu,
.login {
	margin-right: 32px;
}
.promo {
	background: #f1e4e6;
	height: 764px;
}
.promo_content {
	background-image: url(../img/promo.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-position: left;
	background-size: inherit;
	height: 764px;
	display: flex;
	align-items: center;
	justify-content: end;
	width: $conteiner;
	padding-right: 100px;

	.heading_box {
		width: 406px;
		float: right;
		.rect {
			float: left;
			margin-right: 16px;
		}
		.top_heading {
			font-weight: 900;
			font-size: 48px;
			line-height: 58px;
			text-transform: uppercase;
		}
		.text_heading {
			font-weight: 700;
			font-size: 32px;
			line-height: 38px;
			text-transform: uppercase;
		}
		.fashion {
			color: #f16d7f;
		}
	}
}

.categories {
	padding-top: 65px;
	padding-bottom: 95px;
	.top_box_categories {
		display: flex;
		justify-content: space-between;
		.items_top_categories {
			width: 360px;
			height: 260px;
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}
		.background_for_women {
			background: url(../img/for_women.jpg) rgba(33, 22, 22, 0.7);
		}
		.background_for_men {
			background: url(../img/for_men.jpg) rgba(33, 22, 22, 0.7);
		}
		.background_for_kids {
			background: url(../img/for_kids.jpg) rgba(33, 22, 22, 0.7);
		}
	}
	.text_items_categories {
		text-transform: uppercase;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		color: #ffffff;
		text-decoration: none;
		.heading_items_categories {
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			color: #f16d7f;
		}
	}
	.accesories {
		background: url(../img/accesories.jpg) rgba(33, 22, 22, 0.7 center);
		height: 180px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

.products {
	padding-bottom: 95px;
	text-align: center;
	.products_heading {
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;
	}
	.products_text {
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
		padding-bottom: 47px;
	}
	.items_box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.items {
			width: 360px;
		}
	}
}
.featurers {
	background-color: #222224;
}
.feedbacks {
	background-color: lightgray;
	background-image: url(../img/feedback_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.feedbacks_content {
	padding-top: 96px;
	padding-bottom: 156px;
}
.footer {
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #222224;
}
.copyright {
	color: #fbfbfb;
	line-height: 19px;
	padding-right: 6px;
}
